@font-face {font-family:"STARWARS";src:url("../fonts/STARWARS.eot?") format("eot"),url("../fonts/STARWARS.woff") format("woff"),url("../fonts/STARWARS.ttf") format("truetype"),url("../fonts/STARWARS.svg#STARWARS") format("svg");font-weight:normal;font-style:normal;}

html {
	  position: relative;
	  min-height: 100%;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/NewHope.jpg);
	background-size: auto 1200px;
	background-position: top 0px right 0px;
	background-repeat: no-repeat;
}

h3 {
	border: 5px ridge #FFD700;
}

h4 {
	border: 2px solid #FFD700;
	border-radius: 8px;
	min-width: 135px;
}

h3, h4 {
	font-family:"STARWARS";
	display: inline-block;
	color: #FFD700;
	background: black;
	padding: 10px 20px 5px 20px;
}

button:focus { 
    outline: 0 !important; 
}

img {
	filter: saturate(125%);
}

hr {
	border-color: #FFD700;
}

.fa-question-circle-o {
	color: #FFD700;
	margin-left: -25px;
	transition: .3s ease;
}

.helpOption {
	padding: 5px;
}

.helpOption:hover {
	border: 1px solid #FFD700;
	border-radius: 5px;
	transition: .1s ease;
}

.logo-image {
	width: 250px;
	margin-top: 20px;
}

.character {
	display: inline-block;
	margin: 10px 5px 10px 5px;
	position: relative;
}

.overlay {
	position: absolute;
 	top: 0px;
	left: 0px;
	height: 135px;
	width: 135px;
	border: 5px ridge gray;
	border-radius: 10%;
	z-index: 100;
}

#charList .character:hover img, #advCharList .character:hover img, #charRemain .character:hover img {
    filter: grayscale(0%) saturate(125%);
    transition: .3s ease;
}

#charList .character:hover .overlay {
    top: -5px;
	left: -5px;
	height: 145px;
	width: 145px;
	border: 10px ridge gray;
	border-radius: 13%;
    transition: .3s ease;
}

#advCharList .character:hover .overlay {
    top: -5px;
	left: -5px;
	height: 145px;
	width: 145px;
	border: 10px ridge purple;
	border-radius: 13%;
    transition: .3s ease;
}

#charRemain .character:hover .overlay {
    top: -5px;
	left: -5px;
	height: 145px;
	width: 145px;
	border: 10px ridge green;
	border-radius: 13%;
    transition: .3s ease;
}

.advSpecial {
	opacity: 0;
	transition: .3s ease;
}

#advCharList .character:hover .advSpecial {
    opacity: 1;
}

.damage-effect {
	position: absolute;
	top: 5px;
	left: 4.5px;
	height: 125px;
	width: 125px;
	border-radius: 6.5%;
	display: none;
 	background: rgba(255, 0, 0, 0.7);
}

#listHome img {
	border: 5px ridge gray;
	border-radius: 10%;
	margin-bottom: 60px;
	filter: grayscale(75%);
}

#listHome .overlay {
	border: 5px ridge gray;
}

#listHome .charName {
	border-right: 5px ridge gray;
	border-bottom: 5px ridge gray;
}

#listHome .charHealth {
	border-right: 5px ridge gray;
	border-top: 5px ridge gray;
}

#advListHome img {
	border: 5px ridge purple;
	border-radius: 10%;
	margin-bottom: 60px;
	filter: grayscale(75%);
}

#advListHome .overlay {
	border: 5px ridge purple;
}

#advListHome .charName {
	border-right: 5px ridge purple;
	border-bottom: 5px ridge purple;
}

#advListHome .charHealth{
	border-right: 5px ridge purple;
	border-top: 5px ridge purple;
}

#charAttack img {
	border: 5px ridge #0002c6;
	border-radius: 10%;
}

#charAttack .overlay {
	border: 5px ridge #0002c6;
}

#charAttack h4, #charDefend h4 {
	width: 100px;
}

#charAttack .charName {
	border-right: 5px ridge #0002c6;
	border-bottom: 5px ridge #0002c6;
}

#charAttack .charHealth {
	border-right: 5px ridge #0002c6;
	border-top: 5px ridge #0002c6;
}

#charRemain {
	margin-top: 20px;
}

#charRemain img {
	border: 5px ridge green;
	border-radius: 10%;
	filter: grayscale(75%);
}

#charRemain .overlay {
	border: 5px ridge green;
}

#charRemain .charName {
	border-right: 5px ridge green;
	border-bottom: 5px ridge green;
}

#charRemain .charHealth {
	border-right: 5px ridge green;
	border-top: 5px ridge green;
}

#charDefend img {
	border: 5px ridge #c60000;
	border-radius: 10%;
}

#charDefend .overlay {
	border: 5px ridge #c60000;
}

#charDefend .charName {
	border-right: 5px ridge #c60000;
	border-bottom: 5px ridge #c60000;
}

#charDefend .charHealth {
	border-right: 5px ridge #c60000;
	border-top: 5px ridge #c60000;
}

.charHealth {
	position:absolute;
	left: 5px;
	top: 105px;
	color: #FFD700;
	background: rgba(0, 0, 0, 0.75);
	padding: 0px 5px 0px 7px;
	border-radius: 0px 8.35px;
	font-family: 'Anonymous Pro', monospace;
}

.blue {
	color: #68e0ff;
}

.green {
	color: #32CD32;
}

.orange {
	color: #ff9d00;
}

.red {
	color: #ff0000;
}

.dark-red {
	color: #a00012;
}

.charName {
	position:absolute;
	left: 5px;
	top: 5px;
	color: #FFD700;
	background: rgba(0, 0, 0, 0.75);
	padding: 0px 5px 0px 7px;
	border-radius: 8.35px 0px 8.35px;
	font-family: 'Anonymous Pro', monospace;
}

.infoDiv {
	position:absolute;
	line-height: 45px;
	padding: 0px 50px 0px 5px;
	font-family: 'Anonymous Pro', monospace;
	border: 1px solid #FFD700;
	padding: 7px 5px 7px 5px;
	margin: 5px 10px 0px 10px;
	background-color: black;
}

#helpBody .infoDiv {
	padding: 7px 25px 7px 25px !important;
}

#listHome .infoDiv, #advListHome .infoDiv {
	left: 0;
	top: 140px;
}

#fightInfo .infoDiv, #helpInfo .infoDiv {
	left: calc(-50vw + 50%);
	right: calc(-50vw + 50%);
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

#fightInfo .infoDiv {
	top: 85px;
}

#helpInfo .infoDiv {
	top: 65px;
}

.charInfo {
	vertical-align: middle;
	display: inline-block;
	line-height: 15px;
	color: #FFD700;
}

.fight-button, .reset-button {
	margin: 11px auto 20px auto;
	padding-bottom: 5px;
	font-family:"STARWARS";
}

.fight-button { 
  color: #FFD700; 
  background-color: #520000; 
  border-color: #FFD700; 
} 
 
.fight-button:hover, 
.fight-button:focus, 
.fight-button:active, 
.fight-button.active, 
.open .dropdown-toggle.fight-button { 
  color: #FFD700; 
  background-color: #B80000; 
  border-color: #FFD700; 
} 
 
.fight-button:active, 
.fight-button.active, 
.open .dropdown-toggle.fight-button { 
  background-image: none; 
} 
 
.fight-button.disabled, 
.fight-button[disabled], 
fieldset[disabled] .fight-button, 
.fight-button.disabled:hover, 
.fight-button[disabled]:hover, 
fieldset[disabled] .fight-button:hover, 
.fight-button.disabled:focus, 
.fight-button[disabled]:focus, 
fieldset[disabled] .fight-button:focus, 
.fight-button.disabled:active, 
.fight-button[disabled]:active, 
fieldset[disabled] .fight-button:active, 
.fight-button.disabled.active, 
.fight-button[disabled].active, 
fieldset[disabled] .fight-button.active { 
  background-color: #520000; 
  border-color: #FFD700; 
} 
 
.fight-button .badge { 
  color: #520000; 
  background-color: #FFD700; 
}

.reset-button { 
  color: #FFD700; 
  background-color: #000752; 
  border-color: #FFD700; 
} 
 
.reset-button:hover, 
.reset-button:focus, 
.reset-button:active, 
.reset-button.active, 
.open .dropdown-toggle.reset-button { 
  color: #FFD700; 
  background-color: #1500B8; 
  border-color: #FFD700; 
} 
 
.reset-button:active, 
.reset-button.active, 
.open .dropdown-toggle.reset-button { 
  background-image: none; 
} 
 
.reset-button.disabled, 
.reset-button[disabled], 
fieldset[disabled] .reset-button, 
.reset-button.disabled:hover, 
.reset-button[disabled]:hover, 
fieldset[disabled] .reset-button:hover, 
.reset-button.disabled:focus, 
.reset-button[disabled]:focus, 
fieldset[disabled] .reset-button:focus, 
.reset-button.disabled:active, 
.reset-button[disabled]:active, 
fieldset[disabled] .reset-button:active, 
.reset-button.disabled.active, 
.reset-button[disabled].active, 
fieldset[disabled] .reset-button.active { 
  background-color: #000752; 
  border-color: #FFD700; 
} 
 
.reset-button .badge { 
  color: #000752; 
  background-color: #FFD700; 
}

@media screen and (max-width: 991px) {

	#fightInfo .infoDiv {
		position: relative;
		left: auto;
		right: auto;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		top: 5px;
	}

	.container {
		padding-left: 0px;
		padding-right: 0px;
	}

}

@media screen and (max-width: 767px) {

	h3, h4 {
		padding: 10px 0px 5px 0px;
		width: 100%;
		margin-bottom: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	h3 {
		font-size: 20px;
		width: 100vw;
		margin-left: -15px;
	}

	h4 {
		font-size: 18px;
	}

	.logo-image {
		width: 150px;
		margin-top: 10px;
	}

	.fight-button, .reset-button {
		margin: 5px auto 10px auto;
		padding-bottom: 5px;
		font-family:"STARWARS";
	}

	.character {
		margin: 15px 5px 10px 5px;
	}

}

@media screen and (max-width: 335px) {

	#charAttack .character {
		left: calc(-5%);
	}

	#charDefend .character {
		left: calc(-5%);
	}

}