@font-face {font-family:"STARWARS";src:url("../fonts/STARWARS.eot?") format("eot"),url("../fonts/STARWARS.woff") format("woff"),url("../fonts/STARWARS.ttf") format("truetype"),url("../fonts/STARWARS.svg#STARWARS") format("svg");font-weight:normal;font-style:normal;}

html {
	  position: relative;
	  min-height: 100%;
}

body {
	background-image: url(../images/NewHope.jpg);
	background-size: auto 1200px;
	background-position: top 0px right 0px;
	background-repeat: no-repeat;
}

h3 {
	font-family:"STARWARS";
	display: inline-block;
	color: #f2d224;
	background: black;
	border: 5px ridge #f2d224;
	padding: 10px 20px 5px 20px;
	max-width: 100%;
}

button:focus { 
    outline: 0 !important; 
}

.fadeBackground {
	position: relative;
	background-color:rgba(0, 0, 0, 0.7);
	min-height: 100vh;
}

.logo-image {
	width: 250px;
	margin-top: 20px;
}

.character {
	display: inline-block;
	margin: 20px 10px 10px 0px;
	position: relative;
}

.overlay {
	position: absolute;
 	top: 5px;
	left: 5px;
	height: 125px;
	width: 125px;
	border-radius: 6.5%;
	opacity: 0;
	transition: .5s ease;
	background: rgba(255, 255, 255, 0.7);
}

#characterList .character:hover .overlay {
    opacity: 1;
}

.damage-effect {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 125px;
	width: 125px;
	border-radius: 6.5%;
	display: none;
 	background: rgba(255, 0, 0, 0.7);
}

#listHome img {
	border: 5px ridge gray;
	border-radius: 10%;
	margin-bottom: 60px;
}

#listHome .characterName {
	border-right: 5px ridge gray;
	border-bottom: 5px ridge gray;
}

#listHome .characterHealth {
	border-right: 5px ridge gray;
	border-top: 5px ridge gray;
}

#characterAttack img {
	border: 5px ridge #0002c6;
	border-radius: 10%;
}

#characterAttack .characterName {
	border-right: 5px ridge #0002c6;
	border-bottom: 5px ridge #0002c6;
}

#characterAttack .characterHealth {
	border-right: 5px ridge #0002c6;
	border-top: 5px ridge #0002c6;
}

#characterDefend img {
	border: 5px ridge green;
	border-radius: 10%;
}

#characterDefend .characterName {
	border-right: 5px ridge green;
	border-bottom: 5px ridge green;
}

#characterDefend .characterHealth {
	border-right: 5px ridge green;
	border-top: 5px ridge green;
}

#characterFight img {
	border: 5px ridge #c60000;
	border-radius: 10%;
}

#characterFight .characterName {
	border-right: 5px ridge #c60000;
	border-bottom: 5px ridge #c60000;
}

#characterFight .characterHealth {
	border-right: 5px ridge #c60000;
	border-top: 5px ridge #c60000;
}

.characterHealth {
	position:absolute;
	left: 5px;
	top: 105px;
	color: #f2d224;
	background: rgba(0, 0, 0, 0.75);
	padding: 0px 5px 0px 5px;
	border-radius: 0px 8px;
	font-family: 'Anonymous Pro', monospace;
}

.green {
	color: #32CD32;
}

.red {
	color: red !important;
}

.characterName {
	position:absolute;
	left: 5px;
	top: 5px;
	color: #f2d224;
	background: rgba(0, 0, 0, 0.75);
	padding: 0px 5px 0px 5px;
	border-radius: 8px 0px 8px;
	font-family: 'Anonymous Pro', monospace;
}

.infoDiv {
	position:absolute;
	line-height: 45px;
	padding: 0px 5px 0px 5px;
	font-family: 'Anonymous Pro', monospace;
	border: 1px solid #f2d224;
	padding: 5px;
	margin: 5px 10px 0px 10px;
	background-color: black;
}

#listHome .infoDiv {
	left: 0;
	top: 140px;
}

#fightInfo .infoDiv {
	left: calc(-50vw + 50%);
	right: calc(-50vw + 50%);
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	top: 120px;
}

.characterInfo {
	vertical-align: middle;
	display: inline-block;
	line-height: 15px;
	color: #f2d224;
}

.fight-button, .reset-button {
	margin: 25px auto 20px auto;
	padding-bottom: 5px;
	font-family:"STARWARS";
}

.fight-button { 
  color: #f2d224; 
  background-color: #520000; 
  border-color: #f2d224; 
} 
 
.fight-button:hover, 
.fight-button:focus, 
.fight-button:active, 
.fight-button.active, 
.open .dropdown-toggle.fight-button { 
  color: #f2d224; 
  background-color: #B80000; 
  border-color: #f2d224; 
} 
 
.fight-button:active, 
.fight-button.active, 
.open .dropdown-toggle.fight-button { 
  background-image: none; 
} 
 
.fight-button.disabled, 
.fight-button[disabled], 
fieldset[disabled] .fight-button, 
.fight-button.disabled:hover, 
.fight-button[disabled]:hover, 
fieldset[disabled] .fight-button:hover, 
.fight-button.disabled:focus, 
.fight-button[disabled]:focus, 
fieldset[disabled] .fight-button:focus, 
.fight-button.disabled:active, 
.fight-button[disabled]:active, 
fieldset[disabled] .fight-button:active, 
.fight-button.disabled.active, 
.fight-button[disabled].active, 
fieldset[disabled] .fight-button.active { 
  background-color: #520000; 
  border-color: #f2d224; 
} 
 
.fight-button .badge { 
  color: #520000; 
  background-color: #f2d224; 
}

.reset-button { 
  color: #f2d224; 
  background-color: #000752; 
  border-color: #f2d224; 
} 
 
.reset-button:hover, 
.reset-button:focus, 
.reset-button:active, 
.reset-button.active, 
.open .dropdown-toggle.reset-button { 
  color: #f2d224; 
  background-color: #1500B8; 
  border-color: #f2d224; 
} 
 
.reset-button:active, 
.reset-button.active, 
.open .dropdown-toggle.reset-button { 
  background-image: none; 
} 
 
.reset-button.disabled, 
.reset-button[disabled], 
fieldset[disabled] .reset-button, 
.reset-button.disabled:hover, 
.reset-button[disabled]:hover, 
fieldset[disabled] .reset-button:hover, 
.reset-button.disabled:focus, 
.reset-button[disabled]:focus, 
fieldset[disabled] .reset-button:focus, 
.reset-button.disabled:active, 
.reset-button[disabled]:active, 
fieldset[disabled] .reset-button:active, 
.reset-button.disabled.active, 
.reset-button[disabled].active, 
fieldset[disabled] .reset-button.active { 
  background-color: #000752; 
  border-color: #f2d224; 
} 
 
.reset-button .badge { 
  color: #000752; 
  background-color: #f2d224; 
}

@media screen and (max-width: 991px) {

	#fightInfo .infoDiv {
		position: relative;
		left: auto;
		right: auto;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		top: 0px;
	}

	.container {
		padding-left: 0px;
		padding-right: 0px;
	}

	.overlay {
		display: none;
	}

}

@media screen and (max-width: 767px) {

	h3 {
		padding: 10px 0px 5px 0px;
		width: 100%;
		font-size: 18px;
	}

}

















